<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="../static/img/fav.png">
<meta name="author" content="codepixer">
<meta name="description" content="">
<meta name="keywords" content="">
<meta charset="UTF-8">

<title>GoldWind-Terminology</title>
<link rel="stylesheet" th:href="@{/static/css/fonts.google.1.css}" href="../static/css/fonts.google.1.css">
<link rel="stylesheet" th:href="@{/static/css/fonts.google.2.css}" href="../static/css/fonts.google.2.css">
<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/static/css/font-awesome.css}" href="../static/css/font-awesome.css">
<link rel="stylesheet" th:href="@{/static/css/bootstrap-table/bootstrap-table.min.css}" href="../static/css/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" th:href="@{/static/css/main.css}" href="../static/css/main.css">
<link rel="stylesheet" th:href="@{/static/css/style.css}" href="../static/css/style.css">
</head>
<body id="indexMain">
	<section class="banner-area relative">
		<div class="container">
			<div id="logo">
				<a href="index"><img height="200" width="200" th:src="@{/static/img/logo.svg}" src="../static/img/logo.svg" /></a>
			</div>
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12 col-xs-12 col-md-12 col-sm-12">
					<h1 class="text-white">Goldwind Terminology</h1>
					<!-- <p>Goldwind Terminology introduction</p> -->
					<div class="input-group">
						<input type="text" class="form-control" id="findContent" name="findContent" placeholder="请输入..."> <span class="input-group-btn">
							<button class="btn btn-default" type="button" onclick="searchTerminology()">
								<span class="glyphicon glyphicon-search">搜索</span>
							</button>
						</span>
					</div>
				</div>
				<div class="container col-lg-12 col-xs-12 col-md-12 col-sm-12">
					<div class="row d-flex align-items-center justify-content-between">
						<nav id="nav-menu-container">
							<ul class="nav-menu" th:each="keyInfoType:${keyInfoTypeList}">
								<li><a th:text="${keyInfoType}" th:value="${keyInfoType}" onclick="javascript:searchTerminology(this);return false;"></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about-area section-gap">
		<div class="col-lg-10 col-xs-10 col-md-10 col-sm-10 col-lg-offset-1">
			<div class="wrapper wrapper-content animated fadeInRight" id="termSummary">
		        <div class="row">
		            <div class="col-sm-6">
		                <div class="ibox float-e-margins">
		                    <div class="ibox-title">
		                        <h5>术语统计</h5>
		                    </div>
		                    <div class="ibox-content">
		                        <div class="echarts" id="echarts-pie-chart"></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
			<table th:if="${keyInfoList !=null}" class="table table-bordered tab-content" data-toggle="table" data-icon-size="outline" data-search="true" data-mobile-responsive="true">
				<thead>
					<tr>
						<th>中文</th>
						<th>英文</th>
					</tr>
				</thead>
				<tbody>
					<tr class="gradeA" th:each="keyInfo:${keyInfoList}">
						<td data-toggle="modal"><a th:text="${keyInfo.chinese}" th:id="${keyInfo.id}" onclick="javascript:showDetail(this);return false;"></a></td>
						<td th:text="${keyInfo.english}" th:id="${keyInfo.subject}+'>'+${keyInfo.function}+'>'+${keyInfo.position}"></td>
					</tr>
				</tbody>
			</table>
		</div>
        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true"></div>
	</section>
	<!-- Start Footer Area -->
	<footer class=" section-gap">
		<div class="container">
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12">
					Copyright &copy;<label id="_datetime"></label>
					- <a href="http://www.goldwind.com.cn" target="_blank" title="GoldWind">Goldwind</a> All rights reserved
				</p>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->
	<script type="text/javascript" th:src="@{/static/js/jquery-3.1.1.min.js}" src="../static/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap-table/bootstrap-table.min.js}" src="../static/js/bootstrap-table/bootstrap-table.min.js"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap-table/bootstrap-table-mobile.min.js}" src="../static/js/bootstrap-table/bootstrap-table-mobile.min.js"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}" src="../static/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
	<script type="text/javascript" th:src="@{/static/js/kis/search.js}" src="../static/js/kis/search.js"></script>
	<script type="text/javascript" th:src="@{/static/js/kis/mypopover.js}" src="../static/js/kis/mypopover.js"></script>
	
    <script type="text/javascript" th:src="@{/static/js/echarts/echarts-all.js}" src="../static/js/echarts/echarts-all.js"></script>
    <!-- 自定义js -->
    <script type="text/javascript" th:src="@{/static/js/content.js}" src="../static/js/content.js"></script>
    <!-- ECharts demo data -->
    <script type="text/javascript" th:src="@{/static/js/kis/echarts-demo_pie.js}" src="../static/js/kis/echarts-demo_pie.js"></script>
	<script>
		document.getElementById("_datetime").innerText=new Date().getFullYear();
	</script>
</body>
</html>