<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body class="sticky-header" th:fragment="notification">
	<div class="dropdown-menu dropdown-menu-head pull-right">
		<h5 class="title">通知</h5>
		<ul class="dropdown-list normal-list">
			<li class="new">
				<a href="">
					<span class="label label-danger">
						<i class="fa fa-bolt"></i>
					</span>
					<span class="name">通知1：打雷了，下雨收衣服啊</span>
					<em class="small">34分钟前</em>
				</a>
			</li>
			<li class="new">
				<a href="">
					<span class="label label-danger">
						<i class="fa fa-bolt"></i>
					</span>
					<span class="name">通知2：有只老鼠正在啃硬盘，快来抓啊</span>
					<em class="small">1小时前</em>
				</a>
			</li>
			<li class="new">
				<a href="">
					<span class="label label-danger">
						<i class="fa fa-bolt"></i>
					</span>
					<span class="name">通知3：美国人向你家发射了十枚飞毛腿导弹，正在路上，你要不要报警？</span>
					<em class="small">4小时前</em>
				</a>
			</li>
			<li class="new">
				<a href="">
					<span class="label label-danger">
						<i class="fa fa-bolt"></i>
					</span>
					<span class="name">通知4：有个美女要加你微信，你是加呢，还是加呢？</span>
					<em class="small">4小时前</em>
				</a>
			</li>
			<li class="new">
				<a href="">查看所有通知</a>
			</li>
		</ul>
	</div>
</body>
</html>
