<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.uploadAndDownload.fileUploadDemo.shiro.dao.SysRoleResourcesMapper">
	<resultMap id="BaseResultMap" type="cn.com.uploadAndDownload.fileUploadDemo.shiro.domain.SysRoleResources">
		<!-- WARNING - @mbg.generated -->
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="resources_id" property="resourcesId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		role_id, resources_id
	</sql>
	<!-- 根据权限ID查找角色资源对应 -->
	<select id="findRoleResourceByResourceId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role_resources
		where resources_id = #{id,jdbcType=BIGINT}
	</select>
	
	<!-- 根据角色ID删除角色资源对应 -->
	<delete id="deleteRoleResourceRelationshipByRoleId">
		delete from sys_role_resources where role_id = #{roleId,jdbcType=BIGINT}
	</delete>
	<!-- 根据角色ID删除角色资源对应 -->
	<delete id="deleteRoleResourceRelationshipByRoleIds">
		delete from sys_role_resources where role_id in
		<foreach collection="array" item="roleIds" index="index" open="(" close=")" separator=",">
	      #{roleIds}
	    </foreach>
	</delete>
</mapper>