<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.uploadAndDownload.fileUploadDemo.shiro.dao.SysRoleResourcesMapper">
	<resultMap id="BaseResultMap" type="cn.com.uploadAndDownload.fileUploadDemo.shiro.domain.SysRoleResources">
		<!-- WARNING - @mbg.generated -->
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="resources_id" property="resourcesId" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		role_id, resources_id
	</sql>
	<!-- 根据权限ID查找 -->
	<select id="findRoleResourceByResourceId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role_resources
		where resources_id = #{id,jdbcType=BIGINT}
	</select>
	
	<!-- 根据角色ID查找 -->
	<select id="findRoleResourceByRoleId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role_resources
		where role_id = #{id,jdbcType=BIGINT}
	</select>
	
	<!-- 根据权限 && 角色ID查找 -->
	<select id="find" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_role_resources
		where role_id = #{role_id,jdbcType=BIGINT}
		and resources_id = #{resources_id,jdbcType=BIGINT}
	</select>
	
	<!-- 根据权限ID删除 -->
	<delete id="deleteByResourceId">
		delete from sys_role_resources where resources_id = #{id,jdbcType=BIGINT}
	</delete>
	
	<!-- 根据角色ID删除 -->
	<delete id="deleteByRoleId">
		delete from sys_role_resources where role_id = #{id,jdbcType=BIGINT}
	</delete>
	
	<!-- 根据角色ID && 权限ID删除 -->
	<!-- <delete id="delete">
		delete from sys_role_resources where role_id = #{role_id,jdbcType=BIGINT}
		and resources_id = #{resources_id,jdbcType=BIGINT}
	</delete> -->
	
	<!-- 根据角色IDs删除 -->
	<delete id="deleteByRoleIds">
		delete from sys_role_resources where role_id in(#{roleIds,jdbcType=VARCHAR})
	</delete>
<!-- 
	<insert id="insert" parameterType="cn.com.uploadAndDownload.fileUploadDemo.shiro.domain.SysRoleResources">
		insert into sys_role_resources (role_id, resources_id) values (#{role_id,jdbcType=BIGINT}, #{resources_id,jdbcType=BIGINT})
	</insert> 
	
	<insert id="insertSelective" parameterType="cn.com.uploadAndDownload.fileUploadDemo.shiro.domain.SysRoleResources">
		insert into sys_role_resources
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="role_id != null">
				role_id,
			</if>
			<if test="resources_id != null">
				resources_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="role_id != null">
				#{role_id,jdbcType=BIGINT},
			</if>
			<if test="resources_id != null">
				#{resources_id,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>-->
</mapper>