<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.uploadAndDownload.fileUploadDemo.shiro.dao.SysUserMapper">
	<resultMap id="BaseResultMap" type="cn.com.uploadAndDownload.fileUploadDemo.shiro.domain.SysUser">
		<!-- WARNING - @mbg.generated -->
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="pass_word" property="passWord" jdbcType="VARCHAR" />
		<result column="nick_name" property="nickname" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="lastLogin_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
		<result column="user_enable" property="userEnable" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, user_name, pass_word, nick_name, create_time, lastLogin_time,user_enable
	</sql>
	<sql id="limit_sql">
		<if test="page_sql != null and page_sql != ''">
			${page_sql}
		</if>
	</sql>

	<sql id="where_all">
		<where>
			<if test="findContent != null and findContent !='' ">
				and (
				LOWER(nickname) like LOWER(CONCAT("%",#{findContent,jdbcType=VARCHAR},"%")) or
				LOWER(user_name) like LOWER(CONCAT("%",#{findContent,jdbcType=VARCHAR},"%"))
				)
			</if>
		</where>
	</sql>
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		<include refid="where_all" />
		<include refid="limit_sql" />
	</select>
	<select id="findCount" resultMap="BaseResultMap">
		select count(id) from sys_user
		<include refid="where_all" />
	</select>
	<!-- 根据帐号查询 -->
	<select id="findUserByName" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user where user_name = #{userName,jdbcType=VARCHAR}
	</select>
	
	<!-- 用户权限分配的分页查询 -->
	<select id="findUserAndRole" resultType="cn.com.uploadAndDownload.fileUploadDemo.shiro.bo.UserRoleAllocationBo">
		select sysUser.id,sysUser.nick_name nickname,sysUser.user_name userName,sysUser.user_enable userEnable,group_concat(sysRole.role_desc) roleNames,group_concat(sysRole.id)roleIds from
		sys_user sysUser
		left join sys_user_role sysUserRole on sysUserRole.user_id =
		sysUser.id
		left join sys_role sysRole on sysRole.id = sysUserRole.role_id
		<where>
			<if test="findContent != null and findContent !='' ">
				and (
				LOWER(sysUser.nick_name) like LOWER(CONCAT("%",#{findContent,jdbcType=VARCHAR},"%")) or
				LOWER(sysUser.user_name) like LOWER(CONCAT("%",#{findContent,jdbcType=VARCHAR},"%"))
				)
			</if>
		</where>
		group by sysUser.id
		
		<include refid="limit_sql" />
	</select>
	
	<!-- 登录 -->
	<select id="login" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from u_user where user_name = #{userName,jdbcType=VARCHAR} and pass_word = #{passWord,jdbcType=VARCHAR}
	</select>
</mapper>